---
- name: Provision DNS Server
  hosts: ns
  gather_facts: no
  tasks:
    - name: Update system
      ansible.builtin.command: sudo apt update

    - name: Upgrade system
      ansible.builtin.command: sudo apt upgrade -y

    - name: Set hostname
      ansible.builtin.hostname:
        name: ns.ciscogarcia.lan
        use: debian
      become: yes

    - name : Install BIND9
      ansible.builtin.command: sudo apt install -y bind9

    - name: Install BIND Config
      ansible.builtin.copy:
        src: ../config/dns/named.conf.local
        dest: /etc/bind/named.conf.local
        owner: root
        group: bind
        mode: '0664'
      become: yes
            
    - name: Install BIND Zone file
      ansible.builtin.copy:
        src: ../config/dns/ciscogarcia.lan
        dest: /etc/bind/ciscogarcia.lan
        owner: root
        group: bind
        mode: '0664'
      become: yes

    - name: Set DNS
      ansible.builtin.copy:
        src: ../config/dns/dhcpcd.conf
        dest: /etc/dhcpcd.conf
        owner: root
        group: bind
        mode: '0664'
      become: yes

    - name: Restart BIND
      ansible.builtin.command: sudo systemctl restart named

    - name: Restart Networking
      ansible.builtin.command: sudo systemctl restart networking

- name: Provision SMTP Server
  hosts: smtp
  gather_facts: no
  tasks:
    - name: Update system
      ansible.builtin.command: sudo apt update

    - name: Upgrade system
      ansible.builtin.command: sudo apt upgrade -y

    - name: Set hostname
      ansible.builtin.hostname:
        name: smtp.ciscogarcia.lan
        use: debian
      become: yes

    # - name : Install Postfix
    #   ansible.builtin.command: sudo apt install -y postfix

    # - name: Install Postfix Config
    #   ansible.builtin.copy:
    #     src: ../config/dns/named.conf.local
    #     dest: /etc/bind/named.conf.local
    #     owner: root
    #     group: bind
    #     mode: '0664'
    #   become: yes
            
    - name: Set DNS
      ansible.builtin.copy:
        src: ../config/dns/dhcpcd.conf
        dest: /etc/dhcpcd.conf
        owner: root
        group: root
        mode: '0664'
      become: yes

    # - name: Restart EXIM
    #   ansible.builtin.command: sudo systemctl restart named

    - name: Restart Networking
      ansible.builtin.command: sudo systemctl restart networking
